@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --soft-blue: #D3E2EB;
    --soft-blue-hover: #b6d2e3;
    --dark-blue: #6F8C9E;
    --soft-brown: #EAE0D2;
    --dark-brown: #9E917E;
    --midnight-violet: #4D4E66;
    --moonlit-purple: #9889AB;
    --night-pink: #D9B5E0;
    --deep-midnight: #1B2129;
    --canopy-green: #21401D;
    --lush-green: #94A37E;
    --earthy-brown: #7D745E;
    --lastleaf-brown: #AA9D7F;
    --raleway: 'Raleway', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--raleway);
}
#wrapper{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    'topbarDiv topbarDiv'
    'menuDiv contentDiv';
    background: var(--soft-blue);
}
#wrapper.closed{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 0px 1fr;
    grid-template-areas: 
    'topbarDiv topbarDiv'
    'menuDiv contentDiv';
    background: var(--soft-blue);
}
/***********
** TOPBAR **
***********/
#topbar{
    grid-area: topbarDiv;
    display: grid;
    grid-template-columns: auto 4fr repeat(2,1fr);
    background-color: var(--dark-blue);
    width: 100vw;
}
/** Menu Expand Btn **/
.menu-btn-container{
    display: flex;
    justify-content:center;
    align-items:center;
    width:75px;
    height:75px; 
    cursor: pointer; 
    transition: all .5s ease-in-out;
}
.menu-btn{
    width:40px;
    height:5px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn::before,
.menu-btn::after{
  content:'';
  position: absolute;
  width:40px;
  height:5px;
  background: white;
  border-radius:5px;
  transition: all .5s ease-in-out;
}
.menu-btn::before{
  transform: translateY(-12px);
}
.menu-btn::after{
  transform: translateY(12px);
}
.menu-btn-container.open .menu-btn{
  background: transparent;
}
.menu-btn-container.open .menu-btn::before{
  transform: rotate(45deg) ;
}
.menu-btn-container.open .menu-btn::after{
  transform: rotate(-45deg);
}
/** Logo **/
.top-logo{
    color: white;
    font-size: 4rem;
    font-weight: 600;
    align-self: center;
    padding-left: 15px;
    text-shadow: 1px 1px 2px black;
}
/** Account Username Display **/
.username-display{
    justify-self: end;
    align-self: center;
    background-color: var(--soft-blue);
    padding: 5px 20px;
    box-shadow: 1px 1px 3px black;
    border-radius: 50px;
    font-weight: 500;
}
.username-display:hover{
    background-color: var(--soft-blue-hover);
}
.username-display:active{
    transform: translate(1px, 1px);
}
/** Theme Selection **/
.theme-container{
    display: flex;
    justify-content:center;
    align-items:center;
}
.theme-list{    
    background-color: var(--soft-blue);
    padding: 3px 5px;
    margin-left: 6px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px black;
    font-weight: 500;
}
.theme-list:hover{
    background-color: var(--soft-blue-hover);
}
/***********
**  MENU  **
***********/
#menu{
    grid-area: menuDiv;
    display: flex;
    flex-direction: column;
    background-color: var(--soft-brown);
    width: 200px;
    height: 92vh;
    border-right: 1px solid var(--dark-brown);
    padding: 15px 10px;
    transition: all .1s ease-in-out;
}
#wrapper.closed > #menu{
    width: 10px;
}
/** New List Btn **/
.new-list-btn{
    align-self: stretch;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    background-color:#dccdb9;
    border: 2px solid var(--dark-brown);
    border-radius: 7px;
    padding: 2px 0;
    margin-bottom: 15px;
}
.new-list-btn:hover{
    background-color:#d1bea6;
    cursor: pointer;
}
.new-list-btn:active{
    transform: scale(.95);
}
/** Periodic Tabs **/
.periodic-container{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: 500;
    gap: 10px;
    padding: 0px 20px 10px;
}
.periodic-container>div:hover{
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}
/** To-Do List Menu **/
.todo-list-menu{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 10px;
}
.todo-list-menu>div{
    font-size: 1.3rem;
    padding: 0px 20px;
}
.todo-list-menu>div:hover{
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}
.todo-list.active{
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #dccdb9;
}
/** Create New List and New Taks containers **/
.new-list-bg, .new-task-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: rgba(0, 0, 0, 0.4);
}
.new-list-container, .new-task-container{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    background-color: white;
    padding: 10px 15px;
    box-shadow: 0px 1px 3px black;
    border-radius: 8px;
}
.new-list-container input{
    margin: 7px 0px;
    padding: 2px 5px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 40px;
}
.new-list-container button, .new-task-container button{
    width: fit-content;
    align-self: end;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 5px 10px 0px 0px;
    padding: 2px 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #fff;
}
.new-list-container button:hover, .new-task-container button:hover{ 
    transform: scale(1.03);
    background-color: whitesmoke;
}
.new-list-container button:active, .new-task-container button:active{
    transform: translate(1px, 1px);
}
.new-task-container{
    font-size: 1.2rem;
    font-weight: 500;
    gap: 3px;
}
.new-task-container-head{
    align-self: center;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.new-task-name-input, .new-task-urg>select, .new-task-due>input, .new-todo-list-sel>select{
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-bottom: 2px solid #1B2129;
    padding: 0px 3px;
    margin-bottom: 20px;
}
.new-task-urg{ width:100%; margin-right: 15px; border-right: 1px solid #1B2129;}
.new-task-container > div:first-of-type {
    display: flex;
    justify-content: space-between;
}
.new-todo-list-sel{
    display: flex;
    margin-top: 10px;
    
}
.new-task-container textarea{
    height:5rem;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 2px 5px;
}
.new-task-container button {margin-top: 13px;}
/*****************
** PAGE CONTENT **
*****************/
#content{
    grid-area: contentDiv;
    background-color: var(--soft-blue);
    box-shadow: inset 1px 0px 6px black;
}
/** Add Task Button **/
.add-task-btn{
    display: grid;
    justify-items: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 60px;
    line-height: 100%;
    background-color: white;
    box-shadow: 0px 1px 6px black;
    border-radius: 50px;
    cursor: pointer;
}
.add-task-btn > img{ width: 80%;}
.add-task-btn:hover{
    transition: transform .3s;
    transform: scale(1.1);
}
.add-task-btn:active{
    transition: transform .1s;
    transform: translate(2px,2px);
}
/** List Items **/
.list-item{
    display: grid;
    grid-template-columns: 1rem 1fr repeat(4, auto);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    margin: 10px 25px 2px 15px;
    padding: 2px 0px 3px 0px;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
}
.list-item:hover{
    background-color: var(--soft-blue-hover);
}
#list-item-status-check{
    margin-left: 10px;
    transform: scale(1.5);
}
.list-item-title{
    justify-self: start;
    padding-left: 1rem;
}
.list-item-expand-btn{
    background-repeat: no-repeat;
}
.list-item-urgency{
    font-weight: 600;
    margin: 0px 10px;
}
.list-item-urgency.high-urg{
    color: red;
}
.list-item-urgency.low-urg{
    color: green;
}
.list-item-due{
    font-weight: 500;
}
.list-item-delete-btn{
    margin-left: 10px;
}
.list-item-delete-btn:hover, .list-item-expand-btn:hover{
    transform: scale(1.2);
}
/* Task Popout */
.todo-item-pop-container{
    position: fixed;
    width: 50%;
    top: 40%;
    left: 34%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "popTitle popClose"
    "popDue popDue"
    "popUrg popUrg"
    "popDesc popDesc";
    gap: 3px;
    padding: 10px 15px;
    background-color: white;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
    font-size: 1.3rem;
}
.pop-item-title{
    grid-area: popTitle;
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 1px solid black;
}
.pop-close-btn{
    grid-area: popClose;
    width: 25px;
    background-color: whitesmoke;
    border-radius: 50%;
    padding: 2px;
    margin-left: 30px;
}
.pop-close-btn:hover{
    transform: scale(1.1);
    background-color: lightgray;
}
.pop-item-due{ grid-area: popDue;}
.pop-item-urgency {grid-area: popUrg;}
.pop-item-description {grid-area: popDesc;}
.pop-close-btn:active, .list-item-delete-btn:active, .list-item-expand-btn:active{transform: translate(1px, 1px);}
/*****************
** Theme Colors **
*****************/
/**** Night Moon Theme ****/
#menu.night-moon{
    background-color: var(--midnight-violet);
    border-right: 1px solid #9889AB;
}
#topbar.night-moon{
    background-color: var(--moonlit-purple);
}
#content.night-moon{
    background-color: var(--deep-midnight);
    box-shadow: inset 1px 0px 6px  #9889AB;
}
#topbar.night-moon > .username-display{
    background-color: var(--night-pink);
}
#topbar.night-moon > .username-display:hover{
    background-color: #d2a7db;
}
#topbar.night-moon  .theme-list{    
    background-color: var(--night-pink);
}
#topbar.night-moon  .theme-list:hover{
    background-color: #d2a7db;
}
/**** Lush Forest Theme ****/
#menu.lush-forest{
    background-color: var(--lastleaf-brown);
    border-right: 1px solid var(--earthy-brown);
}
#topbar.lush-forest{
    background-color: var(--canopy-green);
}
#content.lush-forest{
    background-color: var(--lush-green);
    box-shadow: inset 1px 0px 6px  var(--earthy-brown);
}
#topbar.lush-forest > .username-display{
    background-color: var(--lush-green);
}
#topbar.lush-forest > .username-display:hover{
    background-color: #86956f;
}
#topbar.lush-forest .theme-list{    
    background-color: var(--lush-green);
}
#topbar.lush-forest .theme-list:hover{
    background-color: #86956f;
}