@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --soft-blue: #D3E2EB;
    --dark-blue: #6F8C9E;
    --soft-brown: #EAE0D2;
    --dark-brown: #9E917E;
    --raleway: 'Raleway', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--raleway);
}
body{
    display: grid;
    grid-template-rows: 8vh 92vh;
    grid-template-columns: 220px 4fr;
    grid-template-areas: 
    'topbarDiv topbarDiv'
    'menuDiv contentDiv';
    background: var(--soft-blue);
}
/***********
** TOPBAR **
***********/
#topbar{
    grid-area: topbarDiv;
    display: grid;
    grid-template-columns: auto 5fr repeat(2,1fr);
    background-color: var(--dark-blue);
    width: 100vw;
}
/** Menu Expand Btn **/
.menu-btn-container{
    display: flex;
    justify-content:center;
    align-items:center;
    width:80px;
    height:80px; 
    cursor: pointer; 
    transition: all .5s ease-in-out;
}
.menu-btn{
    width:40px;
    height:5px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn::before,
.menu-btn::after{
  content:'';
  position: absolute;
  width:40px;
  height:5px;
  background: white;
  border-radius:5px;
  transition: all .5s ease-in-out;
}
.menu-btn::before{
  transform: translateY(-12px);
}
.menu-btn::after{
  transform: translateY(12px);
}
.menu-btn-container.open .menu-btn{
  background: transparent;
}
.menu-btn-container.open .menu-btn::before{
  transform: rotate(45deg) ;
}
.menu-btn-container.open .menu-btn::after{
  transform: rotate(-45deg);
}
/** Logo **/
.top-logo{
    color: white;
    font-size: 4rem;
    font-weight: 600;
    align-self: center;
    padding-left: 15px;
    text-shadow: 1px 1px 2px black;
}
/** Account Username Display **/
.username-display{
    justify-self: end;
    align-self: center;
    background-color: var(--soft-blue);
    padding: 5px 20px;
    box-shadow: 1px 1px 3px black;
    border-radius: 50px;
    font-weight: 500;
}
.username-display:hover{
    background-color: #b6d2e3;
}
.username-display:active{
    transform: translate(1px, 1px);
}
/** Theme Selection **/
.theme-container{
    display: flex;
    justify-content:center;
    align-items:center;
}
.theme-list{    
    background-color: var(--soft-blue);
    padding: 3px 5px;
    margin-left: 6px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px black;
    font-weight: 500;
}
.theme-list:hover{
    background-color: #b6d2e3;
}
/***********
**  MENU  **
***********/
#menu{
    grid-area: menuDiv;
    background-color: var(--soft-brown);
    height: 92vh;
    border-right: 1px solid var(--dark-brown);
}
/*****************
** PAGE CONTENT **
*****************/
#content{
    grid-area: contentDiv;
    background-color: var(--soft-blue);
    box-shadow: inset 1px 0px 6px black;
}
